 .name {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    -webkit-font-smoothing: antialiased;
    font-size: 6rem;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 200;
    padding: 175px 0px 0px 0px;
    height: auto;
  }

body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
}

body:before {
    content: "";
    position: absolute;
    background: url(blur_backdground.jpg);
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 20%; width: 20%;

    transform: scale(5);
    transform-origin: top left;
    filter: blur(100px);
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
